{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="d-sm-flex justify-content-between align-items-center">
        <h1 class="h4 mb-2 mb-sm-0">Domains</h1>
        <a href="{{ url_for('domains.domain', domain_id=0) }}" class="btn btn-primary mt-3">
            <i class="bi bi-plus"></i>
        </a>
    </div>
</div>

<table class="table table-fixed">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Domain</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for domain in domains %}
        <tr>
          <td>{{ domain.name }}</td>
            <td>{{ domain.base_url }}  [Content selectors  tag:{{domain.content_tag}}; ID: {{domain.content_id}}; class: .{{domain.content_class}}   ]</td>
            <td>
              <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  Actions
                </a>
              
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a href="{{ url_for('domains.domain', domain_id=domain.domain_id) }}" class="dropdown-item">Edit</a></li>
                  <li><a href="{{ url_for('domains.domain_delete', domain_id=domain.domain_id) }}" class="dropdown-item">Delete</a></li>
                  <li><a href="{{ url_for('domains.view_domain_urls', domain_id=domain.domain_id) }}" class="dropdown-item">Urls</a></li>
                  <li><a href="{{ url_for('domains.reindex_domain', domain_id=domain.domain_id) }}" class="dropdown-item">Reindex</a></li>
                  <li><a href="/domain/{{ domain.domain_id }}/resume" class="dropdown-item">Resume</a></li>
                </ul>
              </div>
              
            </td>
        </tr>
    {% endfor %}
    </tbody>
  </table>





{% endblock %}
