{% include 'header.html' %}

<div class="row">
    <div class="col-10">
        <div class="card shadow mb-4">
            <!-- Card header -->
            <div class="card-header border-bottom">
                <h5 class="mb-0">Agent: {{agent.name}}</h5>
            </div>
            <form action="{{ url_for('agents.app_agent', app_id=session['app_id'], agent_id=agent.agent_id) }}"
                method="POST">
                <input type="hidden" name="app_id" value="{{app_id}}">

                <div class="card-body">
                    <div class="row">
                        <!-- Information item -->
                        <div class="col-md-6 mb-4">
                            <label class="form-label">Name<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Name..." value="{{agent.name}}"
                                name="name">
                        </div>

                        <div class="col-md-12 mb-4">
                            <label class="form-label">Description</label>
                            <input type="text" class="form-control" placeholder="Description..."
                                value="{{agent.description}}" name="description">
                        </div>

                        <div class="col-md-12 mb-4">
                            <label class="form-label">Model</label>
                            <select name="model_id" class="form-control">
                                <option value="">-- Select a model --</option>
                                {% for model in models %}
                                <option value="{{ model.model_id }}" {% if agent.model_id==model.model_id %}selected{%
                                    endif %}>
                                    {{ model.name }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-12 mb-4">
                            <label class="form-label">System prompt</label>
                            <textarea name="system_prompt" class="form-control mb-0"
                                placeholder="Add a system prompt..." rows="2">{{agent.system_prompt}}</textarea>
                        </div>

                        <div class="col-md-12 mb-4">
                            <label class="form-label">Prompt template</label>
                            <textarea name="prompt_template" class="form-control mb-0"
                                placeholder="Add a prompt tempate..." rows="2">{{agent.prompt_template}}</textarea>
                        </div>

                        {% if repositories %}
                        <div class="col-md-12 mb-4">
                            <label class="form-label">Repository</label>
                            <select name="repository_id" class="form-control">
                                <option value="">-- Select a Repository --</option>
                                {% for repository in repositories %}
                                <option value="{{ repository.repository_id }}" {% if
                                    agent.repository_id==repository.repository_id %}selected{% endif %}>
                                    {{ repository.name }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        {% endif %}

                    </div>
                    <div class="col-12">
                        <input type="submit" class="btn btn-primary" value="Save" />
                        <a href="{{ url_for('agents.app_agents', app_id=session['app_id']) }}"
                            class="btn btn-primary-soft">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% include 'footer.html' %}