.DS_Store
.env
.flaskenv
*.pyc
*.pyo
*.wav
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
uploads/
static/img/heroes/*
#static/vendor/*
app/data/*
app/demo/*
# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
cosas.txt
flask_session
__pycache__
