.DS_Store
.env
.flaskenv
*.pyc
*.pyo
*.wav
ictvenv/
env/
*venv/
.venv/
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
uploads/
static/img/heroes/*
#static/vendor/*
app/data
app/demo
# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
cosas.txt
flask_session
__pycache__
downloads/
images/
agent_process.log
__init__.py
IA-CORE
data/
**/secrets.yaml
**/secret.yaml
*-secret.yaml
*.code-workspace
logs/