services:

  ia-core-tools:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ia-core-tools
    ports:
      - "${APP_PORT}:5000"
    environment:
      - SQLALCHEMY_DATABASE_URI=${SQLALCHEMY_DATABASE_URI}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - ANTHROPIC_API_KEY=${ANTHROPIC_API_KEY}
      - IMAGES_PATH=${IMAGES_PATH}
    depends_on:
      - postgres
    networks:
      - app-network

  postgres:
    image: pgvector/pgvector:pg17
    container_name: iacore_postgres
    ports:
      - "${POSTGRES_PORT}:5432"
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      app-network:
        aliases:
          - postgres
    dns:
      - 8.8.8.8
      - 8.8.4.4

volumes:
  postgres-data:
    driver: local

networks:
  app-network:
    driver: bridge
