SQLALCHEMY_DATABASE_URI='postgresql://iacore:iacore@localhost:5432/iacore'


REPO_BASE_FOLDER='data/repositories'

# AICT Mode: 'ONLINE' for hosted service with full marketing pages, 'SELF-HOSTED' for private installations (only product page accessible)
AICT_MODE=ONLINE

DATABASE_HOST=localhost
DATABASE_PORT=15432
DATABASE_USER=iacore
DATABASE_PASSWORD=iacore
DATABASE_NAME=iacore

APP_PORT=5000