{% extends "base.html" %}

{% set title = "Repositories" %}
{% set add_url = url_for('repositories.repository', app_id=session['app_id'], repository_id=0) %}

{% block content %}

<table class="table table-fixed">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Type #</th>
            <th scope="col">Description</th>
            <th scope="col">Resources</th>
            <th scope="col">Embedding Service</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for repo in repos %}
        <tr>
            <td>
                <a
                    href="{{url_for('repositories.repository',app_id=session['app_id'], repository_id=repo.repository_id)}}">{{repo.name}}</a>
            </td>
            <td></td>
            <td>
                <div class="text-wrap" id="desc_{{repo.repository_id}}"></div>
            </td>
            <td>{{repo.resources | length}}</td>
            <td>{{repo.silo.embedding_service.name if repo.silo and repo.silo.embedding_service else 'No service'}}</td>
            <td>

                <a href="{{ url_for('repositories.repository_settings', app_id=session['app_id'], repository_id=repo.repository_id) }}"
                    class="btn btn-primary">Edit</a>
                <a href="{{ url_for('repositories.repository_delete', app_id=session['app_id'], repository_id=repo.repository_id) }}"
                    class="btn btn-danger"
                    onclick="return confirm('Are you sure you want to delete this repository?')">Delete</a>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>




{% endblock %}