p.titulo-app {
    margin: 0;
    color: #f85900;
    font-weight: 100;
    font-size: 24px;
}

.flash-messages {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    width: 300px;
    /* Adjust width as needed */
}

.flash-messages .alert {
    margin-bottom: 10px;
}