<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mattin AI - AI Platform for Everyone{% endblock %}</title>
    {% block head %}
    {% include 'head.html' %}
    {% endblock %}
</head>
<body>
    
    <main class="public-content">
        {% include 'top-bar.html' %}
        
        <!-- Public content area -->
        <div class="container-fluid p-0">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    {% include 'footer.html' %}

    {% block scripts %}
    {% include 'scripts.html' %}
    {% endblock %}
</body>
</html> 