{% include 'header.html' %}

AI Services

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for ai_service in ai_services %}
        <tr>
            <td>{{ ai_service.name }}</td>
            <td>{{ ai_service.description }}</td>
            <td>
                <a href="{{ url_for('ai_services.ai_service', service_id=ai_service.service_id) }}">View</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include 'footer.html' %}