</div>
<!-- Page main content END -->
</div>
<!-- Page content END -->





<!-- Loading Modal -->
<div class="modal" id="genericLoadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loadingModalLabel">Loading...</h5>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Bootstrap JS -->
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Vendor -->
<script src="{{ url_for('static', filename='vendor/overlay-scrollbar/js/overlayscrollbars.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/choices/js/choices.min.js') }}"></script>

<!-- ThemeFunctions -->
<script src="{{ url_for('static', filename='js/functions.js') }}"></script>

<script src="{{ url_for('static', filename='js/heroes.js') }}"></script>



</body>

</html>