{% include 'header.html' %}



<div class="row">
    <div class="col-2">
        {% include 'repositories/repo_menu.html' %}
    </div>


    <div class="col-10">


        <div class="card shadow mb-4">
            <!-- Card header -->
            <div class="card-header border-bottom">
                <h5 class="mb-0">Agent: {{agent.name}}</h5>
            </div>

            <form
                action="{{ url_for('repositories.repository_agent', app_id=session['app_id'], repository_id=repo.repository_id, agent_id=agent.agent_id) }}"
                method="POST">
                <input type="hidden" name="repo_id" value="{{repo.repo_id}}">

                <div class="card-body">
                    <div class="row">
                        <!-- Information item -->
                        <div class="col-md-6 mb-4">
                            <label class="form-label">Name<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Name..." value="{{agent.name}}"
                                name="name">
                        </div>

                        <div class="col-md-12 mb-4">
                            <label class="form-label">Description</label>
                            <input type="text" class="form-control" maxlength="3" placeholder="Description..."
                                value="{{agent.decription}}" name="decription">
                        </div>

                        <div class="col-md-12 mb-4">
                            <label class="form-label">System prompt</label>
                            <textarea name="system_prompt" value="{{agent.system_prompt}}" class="form-control mb-0"
                                placeholder="Add a system prompt..." rows="2"></textarea>
                        </div>

                        <div class="col-md-12 mb-4">
                            <label class="form-label">Prompt template</label>
                            <textarea name="prompt_template" value="{{agent.prompt_template}}" class="form-control mb-0"
                                placeholder="Add a prompt tempate..." rows="2"></textarea>
                        </div>
                    </div>
                    <div class="col-12">
                        <input type="submit" class="btn btn-primary mb-0" value="Save" />
                    </div>
                </div>
            </form>
        </div>







    </div>

</div>

{% include 'footer.html' %}