{% include 'header.html' %}




<div class="row">
    <div class="col-2">
        {% include 'repositories/repo_menu.html' %}
    </div>
    <div class="col-10">
        <div class="card shadow mb-4">
            <!-- Card header -->
            <div class="card-header border-bottom">
                <h5 class="mb-0">Repository: {{repo.name}}</h5>
            </div>
            <form
                action="{{ url_for('repositories.repository', app_id=session['app_id'], repository_id=repo.repository_id) }}"
                method="POST">
                <input type="hidden" name="app_id" value="{{app_id}}">

                <div class="card-body">
                    <div class="row">
                        <!-- Information item -->
                        <div class="col-md-6 mb-4">
                            <label class="form-label">Name<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Name..." value="{{repo.name}}"
                                name="name">
                        </div>


                        <div class="col-12">
                            <input type="submit" class="btn btn-primary" value="Save" />
                            <a href="{{ url_for('repositories.repositories', app_id=session['app_id']) }}"
                                class="btn btn-primary-soft">Cancel</a>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>

{% include 'footer.html' %}