<!DOCTYPE html>
<html lang="en">

<head>

    <title>LKS Next AI Core Tools</title>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="LKS Next">

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='vendor/font-awesome/css/all.min.css') }}">
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}">
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='vendor/overlay-scrollbar/css/overlayscrollbars.min.css') }}">
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='vendor/choices/css/choices.min.css') }}">

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

</head>

<body>



    <!-- Sidebar START -->
    <nav class="navbar sidebar navbar-expand-xl navbar-light">
        <!-- Navbar brand for xl START -->
        <div class="d-flex align-items-center">
            <a class="navbar-brand" href="/">
                <img class="light-mode-item navbar-brand-item"
                    src="{{ url_for('static', filename='img/logo-lks.svg') }}" alt="logo">
                <img class="dark-mode-item navbar-brand-item" src="{{ url_for('static', filename='img/logo-lks.svg') }}"
                    alt="logo">
            </a>
        </div>
        <!-- Navbar brand for xl END -->

        <div class="offcanvas offcanvas-start flex-row custom-scrollbar h-100" data-bs-backdrop="true" tabindex="-1"
            id="offcanvasSidebar">


            {% if session and session['app_name'] %}
            <div class="offcanvas-lg offcanvas-end" tabindex="-1" id="offcanvasSidebar">

                <!-- Offcanvas body -->
                <div class="offcanvas-body p-3 p-lg-0">
                    <div class="card bg-light w-100">

                        <!-- Edit profile button -->
                        <div class="position-absolute top-0 end-0 p-3">
                            <a href="{{ url_for('leave') }}" class="text-primary-hover" data-bs-toggle="tooltip"
                                data-bs-title="Leave app">
                                <i class="bi bi-close bi-box-arrow-right"></i>
                            </a>
                        </div>

                        <!-- Card body START -->
                        <div class="card-body p-3">
                            <!-- Avatar and content -->
                            <div class="text-center mb-3">
                                <h6 class="mb-0">{{session['app_name']}}</h6>
                                <hr>
                            </div>

                            <!-- Sidebar menu item START -->
                            <ul class="nav nav-pills-primary-soft flex-column">
                                <li class="nav-item">
                                    <a class="nav-link"
                                        href="{{url_for('agents.app_agents', app_id=session['app_id']) }}"><i
                                            class="bi bi-person fa-fw me-2"></i>Agents</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"
                                        href="{{url_for('repositories.repositories', app_id=session['app_id']) }}"><i
                                            class="bi bi-person fa-fw me-2"></i>Repositories</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="bi bi-person fa-fw me-2"></i>Crawlers</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"
                                        href="{{ url_for('output_parsers.app_output_parsers', app_id=session['app_id']) }}">
                                        <i class="bi bi-file-text fa-fw me-2"></i>Output Parsers
                                    </a>
                                </li>
                                <li class="nav-item"></li>
                                <a class="nav-link" href="{{ url_for('silos.silos', app_id=session['app_id']) }}"><i
                                        class="bi bi-file-text fa-fw me-2"></i>Silos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('api_keys.list_api_keys') }}"><i
                                            class="bi bi-ticket-perforated fa-fw me-2"></i>API Keys</a>
                                </li>

                            </ul>
                            <!-- Sidebar menu item END -->
                        </div>
                        <!-- Card body END -->
                    </div>
                </div>
            </div>
            {% endif %}


            <div class="offcanvas-body sidebar-content d-flex flex-column pt-4">

                <!-- Sidebar menu START -->
                <ul class="navbar-nav flex-column" id="navbar-sidebar">

                    <!-- Menu item -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Admin</a>
                        <ul>
                            <li>
                                <a class="nav-link" href="{{ url_for('models.models') }}">Models</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>



                <!-- Sidebar menu end -->

                <!-- Sidebar footer START -->
                <div class="d-flex align-items-center justify-content-between text-primary-hover mt-auto p-3">
                    {% if session and session['user'] %}
                    <a class="h6 fw-light mb-0 text-body" href="{{ url_for('logout') }}" data-bs-toggle="tooltip"
                        data-bs-placement="top" aria-label="Sign out">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i> Log out
                    </a>
                    <a class="h6 mb-0 text-body" href="admin-settings.html" data-bs-toggle="tooltip"
                        data-bs-placement="top" aria-label="Settings">
                        <i class="bi bi-gear-fill"></i>
                    </a>
                    {% endif %}
                </div>
                <!-- Sidebar footer END -->

            </div>
        </div>
    </nav>
    <!-- Sidebar END -->

    <!-- Page content START -->
    <div class="page-content">
        <!-- Top bar START -->
        <nav class="navbar top-bar navbar-light py-0 py-xl-2">
            <div class="container-fluid p-0">
                <div class="d-flex align-items-center w-100">

                    <!-- Logo START -->
                    <div class="d-flex align-items-center d-xl-none">
                        <a class="navbar-brand" href="/">
                            <img class="navbar-brand-item h-40px"
                                src="{{ url_for('static', filename='img/logo-lks.svg') }}" alt="">
                        </a>
                    </div>
                    <!-- Logo END -->

                    <!-- Toggler for sidebar START -->
                    <div class="navbar-expand-xl sidebar-offcanvas-menu">
                        <button class="navbar-toggler me-auto p-2" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar" aria-expanded="false"
                            aria-label="Toggle navigation" data-bs-auto-close="outside">
                            <i class="bi bi-list text-primary fa-fw" data-bs-target="#offcanvasMenu"></i>
                        </button>
                    </div>
                    <!-- Toggler for sidebar END -->

                    <!-- Top bar left -->
                    <div class="navbar-expand-lg ms-auto ms-xl-0">
                        <!-- Toggler for menubar START -->
                        <button class="navbar-toggler ms-auto p-0" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarTopContent" aria-controls="navbarTopContent" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <i class="bi bi-search"></i>
                        </button>
                        <!-- Toggler for menubar END -->

                        <!-- Topbar menu START -->
                        <div class="collapse navbar-collapse w-100 z-index-1" id="navbarTopContent">
                            <!-- Top search START -->
                            <div class="nav my-3 my-xl-0 flex-nowrap align-items-center">
                                <p class="titulo-app">LKS Next AI Core Tools</p>
                            </div>
                            <!-- Top search END -->
                        </div>
                        <!-- Topbar menu END -->
                    </div>
                    <!-- Top bar left END -->

                    {% if session and session['user'] %}
                    <!-- Top bar right START -->
                    <ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">
                        <!-- Notification dropdown START -->
                        <li class="nav-item dropdown ms-3">
                            <!-- Notification button -->
                            <a class="nav-notification btn btn-light p-0 mb-0" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                <i class="bi bi-bell fa-fw"></i>
                            </a>
                            <!-- Notification dote -->
                            <span class="notif-badge animation-blink"></span>

                            <!-- Notification dropdown menu START -->
                            <div
                                class="dropdown-menu dropdown-animation dropdown-menu-end dropdown-menu-size-md shadow-lg p-0">
                                <div class="card bg-transparent">
                                    <!-- Card header -->
                                    <div
                                        class="card-header bg-transparent d-flex justify-content-between align-items-center border-bottom">
                                        <h6 class="m-0">Notificaciones <span
                                                class="badge bg-danger bg-opacity-10 text-danger ms-2">4 nuevas</span>
                                        </h6>
                                        <a class="small" href="#">Limpiar todas</a>
                                    </div>

                                    <!-- Card body START -->
                                    <div class="card-body p-0">
                                        <ul class="list-group list-group-flush list-unstyled p-2">
                                            <!-- Notification item -->
                                            <li>
                                                <a href="#"
                                                    class="list-group-item list-group-item-action rounded notif-unread border-0 mb-1 p-3">
                                                    <h6 class="mb-2">Nuevo! Actualización importante</h6>
                                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                        elit.
                                                    </p>
                                                    <span class="mb-0 small">05/10/2023</span>
                                                </a>
                                            </li>
                                            <!-- Notification item -->
                                            <li>
                                                <a href="#"
                                                    class="list-group-item list-group-item-action rounded border-0 mb-1 p-3">
                                                    <h6 class="mb-2">Nuevos equipos y heroes</h6>
                                                    <span class="mb-0 small">04/10/2023</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Card body END -->

                                    <!-- Card footer -->
                                    <div class="card-footer bg-transparent text-center border-top">
                                        <a href="#" class="btn btn-sm btn-link mb-0 p-0">Ver todas</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Notification dropdown menu END -->
                        </li>
                        <!-- Notification dropdown END -->

                        <!-- Profile dropdown START -->
                        <li class="nav-item ms-3 dropdown">
                            <!-- Avatar -->
                            <a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button"
                                data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <img loading="lazy" class="avatar-img rounded-circle shadow"
                                    src="{{session['user'].picture}}" alt="avatar">
                            </a>

                            <ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3"
                                aria-labelledby="profileDropdown">
                                <!-- Profile info -->
                                <li class="px-3 mb-3">
                                    <div class="d-flex align-items-center">
                                        <!-- Avatar -->
                                        <div class="avatar me-3">
                                            <img loading="lazy" class="avatar-img rounded-circle shadow"
                                                src="{{session['user'].picture}}" alt="avatar">
                                        </div>
                                        <div>
                                            <a class="h6 mt-2 mt-sm-0" href="#">{{session['user'].name}}</a>
                                            <p class="small m-0">{{session['user'].email}}</p>
                                        </div>
                                    </div>
                                </li>

                                <!-- Links -->
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#"><i
                                            class="bi bi-gear fa-fw me-2"></i>Configuración</a>
                                </li>
                                <li><a class="dropdown-item" href="#"><i
                                            class="bi bi-info-circle fa-fw me-2"></i>Ayuda</a>
                                </li>
                                <li><a class="dropdown-item bg-danger-soft-hover" href="{{ url_for('logout') }}"><i
                                            class="bi bi-power fa-fw me-2"></i>Salir</a></li>
                            </ul>
                        </li>
                        <!-- Profile dropdown END -->
                    </ul>
                    {% else %}
                    <ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                        </li>
                    </ul>
                    {% endif %}
                    <!-- Top bar right END -->
                </div>
            </div>
        </nav>
        <!-- Top bar END -->






        <!-- Page main content START -->
        <div class="page-content-wrapper">