{% include 'generic/_flash_messages.html' %}

<!-- Bootstrap JS -->
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Vendor -->
<script src="{{ url_for('static', filename='vendor/overlay-scrollbar/js/overlayscrollbars.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/choices/js/choices.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/iact.js') }}"></script>
<script src="{{ url_for('static', filename='js/agent_playground.js') }}"></script>